[Unit]
Description = PrivCert user cert manager socket

[Socket]
ListenStream = 127.0.0.1:26310
Backlog = 5
Accept = true

[Install]
WantedBy = sockets.target
