:root {
  font: 14px sans-serif;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

/* Google Material Symbols and Icons - https://fonts.google.com/icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
       url(../lib/material-icons.woff2) format('woff2');
}

body {
  margin: 0;
}

.app-header {
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  display: flex;
  height: 40px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.app-logo {
  align-items: flex-start;
  background-color: #eef;
  border-radius: 2px;
  color: #97c;
  column-gap: 4px;
  cursor: pointer;
  display: flex;
  font-family: 'Georgia', serif;
  font-size: 10px;
  font-weight: bold;
  height: 32px;
  margin-left: 8px;
  padding: 2px;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

.app-logo > .icon {
  fill: none;
  height: 32px;
  stroke: #97c;
  width: 32px;
}

.app-title {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.header-ui {
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-shrink: 0;
  margin-right: 12px;
}

.header-ui > a {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

.header-ui > .disabled,
.col-ui > .disabled {
  pointer-events: none;
}

.header-ui > [data-icon]::before {
  content: attr(data-icon);
  flex-shrink: 0;
  display: block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.app-main {
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 40px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  font: 14px sans-serif;
  height: 36px;
  outline: none;
  padding: 4px 8px;
  width: 100%;
}

button {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  column-gap: 8px;
  cursor: pointer;
  display: inline-flex;
  font: 14px sans-serif;
  height: 36px;
  justify-content: space-evenly;
  margin: 0;
  padding: 0 14px;
  user-select: none;
}

a.button {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  column-gap: 8px;
  display: inline-flex;
  font: 14px sans-serif;
  height: 36px;
  justify-content: space-evenly;
  margin: 0;
  padding: 0 14px;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

button[data-icon],
a.button[data-icon] {
  padding-left: 10px;
}

button[data-icon]::before,
a.button[data-icon]::before {
  content: attr(data-icon);
  flex-shrink: 0;
  display: block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.auth-form {
  column-gap: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 96px 80px;
  row-gap: 24px;
}

.auth-form > label {
  align-self: center;
  display: block;
  line-height: 36px;
}

.form-footer {
  row-gap: 24px;
  flex-direction: column;
  display: flex;
  grid-column: 2 / -1;
}

.form-ui {
  column-gap: 16px;
  display: flex;
  justify-content: flex-end;
}

.form-ui > button,
.form-ui > a.button {
  flex-shrink: 0;
}

button {
  border: 2px solid transparent;
  transition: background-color .3s ease,
              box-shadow       .3s ease;
}

button:empty[data-icon] {
  border-radius: 19px;
  padding: 0;
  width: 36px;
}

a.button {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  outline: none;
  transition: background-color .3s ease,
              color            .3s ease;
}

button:active {
  border-style: inset;
  transition: background-color .3s ease,
              box-shadow       .3s ease,
              border-color     0s  ease .25s;
}

.error-status {
  align-items: center;
  column-gap: 4px;
  display: flex;
}

.error-status:has(> p)::before {
  content: 'error';
  display: block;
  flex-shrink: 0;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.error-status > p {
  line-height: 24px;
  margin: 0;
}

.list-header {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  column-gap: 16px;
  display: flex;
  font-size: 12px;
  height: 24px;
  left: 0;
  padding: 0 12px;
  position: sticky;
  right: 0;
  top: 0;
}

.list-entry {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  column-gap: 16px;
  display: flex;
  height: 52px;
  padding: 0 12px;
}

.list-template {
  display: none;
}

.list-ui {
  margin-top: 12px;
  position: relative;
}

.switch-part {
  align-items: center;
  column-gap: 16px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  left: 0;
  padding: 0 12px;
  position: absolute;
  right: 0;
  transition: opacity    .2s ease-in,
              visibility .2s;
}

.list-header > span {
  text-align: center;
}

.list-entry > .col-expire {
  font-size: 12px;
  text-align: center;
}

.list-entry > :not(.col-ui) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-name,
.col-passwd,
.col-expire,
.col-submit {
  flex-shrink: 0;
  width: 144px;
}

.col-cn,
.col-spacer {
  flex-grow: 1;
}

.col-mail {
  flex-shrink: 0;
  width: 256px;
}

.col-ui {
  flex-shrink: 0;
  width: 44px;
}

:not(.list-header) > .col-ui {
  align-items: center;
  column-gap: 8px;
  display: flex;
  justify-content: flex-end;
}

.col-submit {
  align-items: center;
  display: flex;
}

.col-ui > a {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

.col-ui > [data-icon]::before {
  content: attr(data-icon);
  flex-shrink: 0;
  display: block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.switch-control,
.switch-control:checked + * + .switch-part {
  display: none;
}

.switch-control:not(:checked) + .switch-part {
  opacity: 0;
  position: absolute;
  visibility: collapse;
}

.list-error {
  padding: 48px 12px 0;
}

.list-error > data {
  display: none;
}
