:root {
  font: 14px sans-serif;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

/* Google Material Symbols and Icons - https://fonts.google.com/icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
       url(../lib/material-icons.woff2) format('woff2');
}

body {
  margin: 0;
}

.confirm {
  padding: 0;
}

.confirm::backdrop {
  backdrop-filter: blur(1px);
  overflow: hidden;
  overscroll-behavior: contain;
}

.busy {
  background: transparent;
  border: none;
  height: calc(100vh - 130px);
  outline: none;
  overflow: hidden;
  padding: 0;
  width: 640px;
}

.busy::backdrop {
  background: transparent;
  overflow: hidden;
  overscroll-behavior: contain;
}

.busy > * {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: busy-linear-flow;
  animation-timing-function: cubic-bezier(.01, .7, .99, .3);
  border-radius: 4px;
  display: block;
  height: 6px;
  left: -6px;
  position: absolute;
  top: 30px;
  width: 6px;
}

.busy > :nth-child(1) {
  animation-delay: .1s;
}

.busy > :nth-child(2) {
  animation-delay: .2s;
}

.busy > :nth-child(3) {
  animation-delay: .3s;
}

.busy > :nth-child(4) {
  animation-delay: .4s;
}

.busy > :nth-child(5) {
  animation-delay: .5s;
}

@keyframes busy-linear-flow {
  0% {
    left: 0%;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.app-header {
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  display: flex;
  height: 40px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.app-logo {
  align-items: flex-start;
  background-color: #eef;
  border-radius: 2px;
  column-gap: 4px;
  cursor: pointer;
  display: flex;
  height: 32px;
  padding: 2px;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

.app-logo > .icon {
  fill: none;
  height: 32px;
  stroke: #97c;
  width: 32px;
}

.app-logo > .caption {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.app-logo > .caption > .main {
  color: #97c;
  font-family: 'Georgia', serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
}

.app-logo > .caption > .sub {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  line-height: 10px;
}

.app-logo > .caption > .sub > .line {
  color: #bae;
  font-family: 'Futura', 'Bahnschrift', sans-serif;
  font-stretch: condensed;
}

.app-title {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header-ui {
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-shrink: 0;
}

.header-ui > a {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

:is(.header-ui, .col-ui) > .disabled {
  pointer-events: none;
}

.header-ui > [data-icon]::before {
  content: attr(data-icon);
  flex-shrink: 0;
  display: block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.app-main {
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 40px;
}

.auth-form {
  column-gap: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 96px auto;
  row-gap: 24px;
  width: 480px;
}

.auth-form > label {
  align-self: center;
  display: block;
  line-height: 36px;
}

.dialog-content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 16px;
  row-gap: 16px;
}

.dialog-content > p {
  margin: 0;
}

.form-footer {
  row-gap: 24px;
  flex-direction: column;
  display: flex;
  grid-column: 2 / -1;
}

.form-ui, .dialog-ui {
  column-gap: 16px;
  display: flex;
  justify-content: flex-end;
}

:is(.form-ui, .dialog-ui) > :is(button, a.button) {
  flex-shrink: 0;
}

.list-header {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  column-gap: 16px;
  display: flex;
  font-size: 12px;
  height: 24px;
  left: 0;
  padding: 0 12px;
  position: sticky;
  right: 0;
  top: 0;
}

.list-entry {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  column-gap: 16px;
  display: flex;
  height: 52px;
  padding: 0 12px;
}

.list-template {
  display: none;
}

.list-ui {
  height: 96px;
  margin-top: 12px;
  position: relative;
}

.switch-part {
  align-items: center;
  column-gap: 16px;
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 0 12px;
  position: absolute;
  right: 0;
  transition: opacity    .2s ease-in,
              visibility .2s;
}

.list-header > span {
  text-align: center;
}

.list-entry > .col-expire {
  font-size: 12px;
  text-align: center;
}

.col-name,
.col-cn,
.col-mail,
.col-expire,
.col-passwd {
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-name,
.col-expire,
.col-passwd {
  width: 144px;
}

.col-cn,
.col-mail {
  width: 256px;
}

:is(.col-name, .col-cn, .col-mail,
    .col-expire, .col-passwd):not(:has(input)) {
  padding: 0 8px;
}

.col-submit {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  width: 144px;
}

.col-spacer {
  flex-grow: 1;
}

.col-ui {
  align-items: center;
  column-gap: 8px;
  display: flex;
  flex-shrink: 0;
}

.col-ui > a {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-drag: none;
  user-select: none;
}

.col-ui > [data-icon]::before {
  content: attr(data-icon);
  flex-shrink: 0;
  display: block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.switch-control,
.switch-control:checked + * + .switch-part {
  display: none;
}

.switch-control:not(:checked) + .switch-part {
  opacity: 0;
  position: absolute;
  visibility: collapse;
}

.list-error {
  padding: 44px 8px 0;
}

.list-error > data {
  display: none;
}

.error-status {
  align-items: center;
  column-gap: 4px;
  display: flex;
  line-height: 24px;
}

.error-status:has(> p)::before {
  content: 'error';
  display: block;
  flex-shrink: 0;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.error-status > p {
  line-height: 24px;
  margin: 0;
}

input:is([type="text"], [type="password"], [type="email"]) {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  font: 14px sans-serif;
  height: 36px;
  outline: none;
  padding: 4px 8px;
  width: 100%;
}

button, a.button {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  column-gap: 8px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font: 14px sans-serif;
  height: 36px;
  justify-content: space-evenly;
  margin: 0;
  padding: 0 14px;
  user-select: none;
}

a.button {
  text-decoration: none;
  -webkit-user-drag: none;
}

:is(button, a.button)[data-icon] {
  padding-left: 10px;
}

:is(button, a.button)[data-icon]::before {
  content: attr(data-icon);
  flex-shrink: 0;
  display: block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

button:is(:not([type="button"]), [type="button"]:empty) {
  border: 2px solid transparent;
  transition: background-color .3s ease,
              box-shadow       .3s ease;
}

button[type="button"]:empty {
  border-radius: 19px;
  padding: 0;
  width: 36px;
}

button[type="button"]:not(:empty), a.button {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  outline: none;
  transition: background-color .3s ease,
              color            .3s ease;
}

button:is(:not([type="button"]), [type="button"]:empty):active {
  border-style: inset;
  transition: background-color .3s ease,
              border-color     0s  ease .25s;
}
