:root {
  background-color: #fff;
  color: #666;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

.app-header {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.app-logo:focus-visible,
.header-ui > [data-icon]:focus-visible,
.list-entry > .ui-listop > [data-icon]:focus-visible,
.switch-part > .ui-close > [data-icon]:focus-visible {
  outline: #ccc solid 2px;
}

.app-title {
  color: #468;
}

.header-ui > [data-icon]::before,
.list-entry > .ui-listop > [data-icon]::before,
.switch-part > .ui-close > [data-icon]::before {
  color: #888;
}

.header-ui > .disabled[data-icon]::before {
  color: #ccc;
}

.header-ui > :not(.disabled)[data-icon]:hover::before,
.list-entry > .ui-listop > [data-icon]:hover::before,
.switch-part > .ui-close > [data-icon]:hover::before {
  color: #444;
}

.header-ui > :not(.disabled)[data-icon]:active::before,
.list-entry > .ui-listop > [data-icon]:active::before,
.switch-part > .ui-close > [data-icon]:active::before {
  color: #008;
}

.app-main {
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

input {
  border-color: #ccc;
}

input:focus-visible {
  border-color: #48e;
}

input::placeholder {
  color: #aaa;
}

.form-ui > button,
.switch-part > .ui-submit > button,
.switch-part > .ui-open > button {
  background-color: #48e;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
              0 2px 2px      rgba(0, 0, 0, .14),
              0 1px 5px      rgba(0, 0, 0, .12);
  color: #fff;
}

.form-ui > a.button {
  border-color: #ccc;
  color: #444;
}

.form-ui > button:hover,
.switch-part > .ui-submit > button:hover,
.switch-part > .ui-open > button:hover {
  background-color: #59f;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
              0 4px 5px      rgba(0, 0, 0, .14),
              0 1px 10px     rgba(0, 0, 0, .12);
}

.form-ui > a.button:hover {
  background-color: rgba(0, 0, 0, .1);
  color: #000;
}

.form-ui > button:active,
.switch-part > .ui-submit > button:active,
.switch-part > .ui-open > button:active {
  background-color: #37c;
  border-color: #48e;
}

.form-ui > a.button:active {
  background-color: rgba(0, 0, 0, .15);
}

.form-ui > button:focus-visible,
.switch-part > .ui-submit > button:focus-visible,
.switch-part > .ui-open > button:focus-visible {
  outline: #34c solid 2px;
}

.form-ui > a.button:focus-visible {
  border-color: #48e;
}

.form-ui > button[data-icon]::before,
.switch-part > .ui-submit > button[data-icon]::before,
.switch-part > .ui-open > button[data-icon]::before {
  color: #eee;
}

.form-ui > a.button[data-icon]::before {
  color: #666;
}

.error-status {
  color: #d00;
}

.list-header {
  background-color: #fff;
  border-bottom-color: #eee;
}

.list-entry {
  border-bottom-color: #eee;
}
