:root {
  background-color: #fff;
  color: #666;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

.app-header {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.app-logo:focus-visible,
.header-ui > a[data-icon]:focus-visible,
.col-ui > a[data-icon]:focus-visible {
  outline: #ccc solid 2px;
}

.app-title {
  color: #468;
}

.header-ui > a[data-icon]::before,
.col-ui > a[data-icon]::before {
  color: #888;
}

.header-ui > a.disabled[data-icon]::before,
.col-ui > a.disabled[data-icon]::before {
  color: #ccc;
}

.header-ui > a:not(.disabled)[data-icon]:hover::before,
.col-ui > a:not(.disabled)[data-icon]:hover::before {
  color: #444;
}

.header-ui > a:not(.disabled)[data-icon]:active::before,
.col-ui > a:not(.disabled)[data-icon]:active::before {
  color: #008;
}

.app-main {
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

input {
  border-color: #ccc;
}

input:focus-visible {
  border-color: #48e;
}

input::placeholder {
  color: #aaa;
}

button:not([type="button"]),
button[type="button"]:empty {
  background-color: #48e;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
              0 2px 2px      rgba(0, 0, 0, .14),
              0 1px 5px      rgba(0, 0, 0, .12);
  color: #fff;
}

button[type="button"]:not(:empty),
a.button {
  border-color: #ccc;
  color: #444;
}

button:not([type="button"]):hover,
button[type="button"]:empty:hover {
  background-color: #59f;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
              0 4px 5px      rgba(0, 0, 0, .14),
              0 1px 10px     rgba(0, 0, 0, .12);
}

button[type="button"]:not(:empty):hover,
a.button:hover {
  background-color: rgba(0, 0, 0, .1);
  color: #000;
}

button:not([type="button"]):active,
button[type="button"]:empty:active {
  background-color: #37c;
  border-color: #48e;
}

button[type="button"]:not(:empty):active,
a.button:active {
  background-color: rgba(0, 0, 0, .15);
}

button:not([type="button"]):focus-visible,
button[type="button"]:empty:focus-visible {
  outline: #34c solid 2px;
}

button[type="button"]:not(:empty):focus-visible,
a.button:focus-visible {
  border-color: #48e;
}

button:not([type="button"])[data-icon]::before,
button[type="button"]:empty[data-icon]::before {
  color: #eee;
}

button[type="button"]:not(:empty)[data-icon]::before,
a.button[data-icon]::before {
  color: #666;
}

.error-status {
  color: #d00;
}

.list-header {
  background-color: #fff;
  border-bottom-color: #eee;
}

.list-entry {
  border-bottom-color: #eee;
}
