:root {
  background-color: #112;
  color: #ddd;
}

dialog {
  background-color: #112;
  color: #fff;
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.app-header {
  background-color: #334;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.app-logo:focus-visible,
:is(.header-ui, .col-ui) > a[data-icon]:focus-visible {
  outline: #888 solid 2px;
}

.app-title {
  color: #cde;
}

:is(.header-ui, .col-ui) > a[data-icon]::before {
  color: #ccc;
}

:is(.header-ui, .col-ui) > a.disabled[data-icon]::before {
  color: #888;
}

:is(.header-ui, .col-ui) > a:not(.disabled)[data-icon]:hover::before {
  color: #eee;
}

:is(.header-ui, .col-ui) > a:not(.disabled)[data-icon]:active::before {
  color: #def;
}

.app-main {
  background-color: #223;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.list-header {
  background-color: #223;
  border-bottom-color: #888;
}

.list-entry {
  border-bottom-color: #888;
}

.error-status {
  color: #c67;
}

input {
  background-color: #001;
  border-color: #888;
  color: #fff;
}

input:focus-visible {
  border-color: #98f;
}

input::placeholder {
  color: #aaa;
}

button:is(:not([type="button"]), [type="button"]:empty) {
  background-color: #98f;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  color: #001;
}

button[type="button"]:not(:empty), a.button {
  border-color: #888;
  color: #eee;
}

button:is(:not([type="button"]), [type="button"]:empty):hover {
  background-color: #a9f;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .5);
}

:is(button[type="button"]:not(:empty), a.button):hover {
  background-color: rgba(255, 255, 255, .1);
  color: #fff;
}

button:is(:not([type="button"]), [type="button"]:empty):active {
  background-color: #87c;
  border-color: #98f;
}

:is(button[type="button"]:not(:empty), a.button):active {
  background-color: rgba(255, 255, 255, .15);
}

button:is(:not([type="button"]), [type="button"]:empty):focus-visible {
  outline: #def solid 2px;
}

:is(button[type="button"]:not(:empty), a.button):focus-visible {
  border-color: #98f;
}

button:is(:not([type="button"]), [type="button"]:empty)[data-icon]::before {
  color: #444;
}

:is(button[type="button"]:not(:empty), a.button)[data-icon]::before {
  color: #ddd;
}
